Flask==3.0.3
hqq==0.1.7
ImageHash==4.3.1
matplotlib==3.8.4
numpy==1.26.4
onnxruntime==1.17.3
onnxruntime_genai==0.1.0
Pillow==10.3.0
redis==5.0.4
torch==2.2.2
torchvision==0.17.2
transformers==4.40.1
pip install numpy\npip install --pre onnxruntime-genai
