<!-- todo_list/todo_app/templates/todo_app/index.html -->
<style>
.chat {
width:100%;
border-radius: 1em;
padding: 0.5em;
margin-top: 2em;
overflow: auto;
font-size: 0.9em;
}

.text{
display: flex;
max-width: 65%;
padding: 0.35em;
border-radius: 0.95em;
font-family: Arial;
font-weight: 200;
margin:0.2em;
}

.msg-user{
background: #218aff;
float: right;
color: white;
}

.msg-agent{
background: #d8d8d8;
float: left;
}

.meta-info{
color: #696969;
float: right;
margin-bottom: 7em;
font-size:0.8em;
}
</style>

{% extends "home.html" %}
{% block content %}
<!-- <!--index.html-->
{% if context %}
<h3>chat history - Phi-3 q4 gguf </h3>
{% endif %}
{% for item in context.objects %}
<div class="chat">
  {% for entry in item.chat_history %}
  {% if entry.role == 'user' %}
    <div class = "text msg-user">
      👨: {{entry.content}}
    </div>
  {% else %}
    <div class = "text msg-agent">
      🤖: {{entry.content}}
    </div>

  {% endif %}
  <br>
  <br>
  {% endfor %}
</div>
<em class="meta-info">decode speed: {{item.speed}} [tokens/s]</em>
{% endfor %}
{% if context.objects|length == 0%}
<h3>start chatting!</h3>
{% endif %}

{% endblock %}

